<div class="container mt-3 ml-2 mr-2" xmlns:text-align="http://www.w3.org/1999/xhtml">
    <div class="row mb-2">
        <div class="col container">
            <h5 class="text-muted" style="text-align: center;">Home</h5>
        </div>
        <div class="col container">
            <h5 class="text-muted" style="text-align: center;">Profile</h5>
        </div>
        <div class="col container">
            <h5 class="text-muted" style="text-align: center;">Settings</h5>
        </div>
    </div>
</div>