<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head"></head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
            <div class="card border-0 shadow-sm rounded-4">
                <div class="card-body p-3 p-md-4 p-xl-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-4">
                                <h2>Edit Avatar</h2>
                            </div>
                        </div>
                    </div>
                    <form th:action="@{/submit-edit-user}" method="post" th:object="${user}">
                        <div class="row gy-3 overflow-hidden">
                            <div class="col-12">
                                <ul id="icons-list" class="row row-cols-3 row-cols-sm-4 row-cols-lg-6
                                row-cols-xl-8 list-unstyled list">
                                    <li class="col mb-4" data-name="0-circle" data-tags="number numeral"
                                        data-categories="shapes" th:each="avatar : ${avatars}" style="margin: 20px;">
                                        <input th:field="${user.avatar}" class="form-check-input mt-0 bg-dark" type="radio"
                                               name="avatar" th:value="${avatar.id}"
                                               aria-label="Radio button for following text input">
                                        <img th:src="${avatar.url}" style="height: 100px; width: 100px;">
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn bsb-btn-2xl btn-dark" type="submit">Edit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showFiles(input) {
        const previewsContainer =
            document.getElementById('imagePreviews');

        previewsContainer.innerHTML = '';
        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();
            reader.onload = function (e) {
                const preview = document.createElement('div');
                preview.classList.add('col-md-4', 'mb-3');
                preview.innerHTML = `
        <img src="${e.target.result}" alt="Preview" class="img-fluid rounded">
        <div class="text-center mt-2">
          <span class="badge bg-secondary">${file.name}</span>
        </div>
      `;
                previewsContainer.appendChild(preview);
            };
            reader.readAsDataURL(file);
        }
    }
</script>
</body>
</html>